<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Manage Order</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Manage Order</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orders :-</h5>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Start Date</label>
                <input type="date" name="startDate" [(ngModel)]="startDate" class="form-control" />
              </div>
              <div class="col-md-6">
                <label>End Date</label>
                <input type="date" name="endDate" [(ngModel)]="endDate" class="form-control" />
              </div>
            </div>
            <div>
              <button (click)="getOrderByStatus(currentStatus)" class="btn btn-primary">Get Orders</button>
            </div>
            <ul class="nav nav-tabs">
              <li class="nav-item" (click)="getOrderByStatus(0)">
                <a
                  class="nav-link"
                  [class.active]="currentStatus == 0"
                  routerLink="."
                  >Recieved Orders</a
                >
              </li>
              <li
                class="nav-item"
                [class.active]="currentStatus == 1"
                (click)="getOrderByStatus(1)"
              >
                <a class="nav-link" routerLink=".">Confirmed Order</a>
              </li>
              <li
                class="nav-item"
                [class.active]="currentStatus == 2"
                (click)="getOrderByStatus(2)"
              >
                <a class="nav-link" routerLink=".">Shipped Order</a>
              </li>
              <li
                class="nav-item"
                [class.active]="currentStatus == 3"
                (click)="getOrderByStatus(4)"
              >
                <a class="nav-link" routerLink=".">Delivered Order</a>
              </li>
              <li
                class="nav-item"
                [class.active]="currentStatus == 4"
                (click)="getOrderByStatus(7)"
              >
                <a class="nav-link" routerLink=".">Cancelled Order</a>
              </li>
            </ul>
            <div class="table-responsive" *ngIf="orders.length > 0">
              <table class="table product-overview">
                <tr>
                  <th>Order ID</th>
                  <th>Name</th>
                  <th>User ID</th>
                  <th>Amount</th>
                  <th>Date Time</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let order of orders; let i = index">
                  <td>{{ order.order_id }}</td>
                  <td>{{ order.name }}</td>
                  <td>{{ order.user_id }}</td>
                  <td>{{ order.collectable_amount }}</td>
                  <td>{{ order.added_date }}</td>
                  <td>
                    <a [href]="order.thumbnail" target="_blank">
                      <img [src]="order.thumbnail" width="50" height="50" />
                    </a>
                  </td>
                  <td>
                    <div>
                      <a routerLink="../order-detail/{{ order.order_id }}">
                        <button class="btn btn-outline-primary">
                          <i class="material-icons">visibility</i>
                        </button>
                      </a>
                      <a
                        routerLink="../../../invoice/{{ order.order_id }}"
                        target="_blank"
                      >
                        <button class="btn btn-outline-primary">
                          <i class="material-icons">print</i>
                        </button>
                      </a>
                      <button
                        class="btn btn-outline-success"
                        (click)="changeStatus(1, order, i)"
                        *ngIf="currentStatus == 0"
                      >
                        Accept Order
                      </button>
                      <button
                        class="btn btn-outline-success"
                        *ngIf="currentStatus == 1"
                        (click)="changeStatus(2, order, i)"
                      >
                        Dispatch Order
                      </button>
                      <button
                        class="btn btn-outline-danger"
                        *ngIf="currentStatus == 0"
                        (click)="changeStatus(7, order, i)"
                      >
                        Cancel Order
                      </button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="error" *ngIf="orders.length < 1">
              No Orders Found.
            </div>
          </div>
          <div class="card-footer" *ngIf="orders.length > 0">
            <nav aria-label="Page">
              <ul class="pagination justify-content-center">
                <li
                  class="page-item"
                  *ngIf="currentPage != 1"
                  (click)="changePage(1)"
                >
                  <a class="page-link">First</a>
                </li>
                <li
                  class="page-item"
                  *ngIf="currentPage != 1"
                  (click)="changePage(currentPage - 1)"
                >
                  <a class="page-link"><i class="ion-md-skip-backward"></i></a>
                </li>
                <li
                  class="page-item"
                  [class.active]="pageno == currentPage"
                  (click)="changePage(pageno)"
                  *ngFor="let pageno of displayPages"
                >
                  <a class="page-link">{{ pageno }}</a>
                </li>
                <li
                  class="page-item"
                  *ngIf="currentPage != lastPage"
                  (click)="changePage(currentPage + 1)"
                >
                  <a class="page-link"><i class="ion-md-skip-forward"></i></a>
                </li>
                <li
                  class="page-item"
                  *ngIf="currentPage != lastPage"
                  (click)="changePage(lastPage)"
                >
                  <a class="page-link">Last</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
