<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add Category</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Add Category</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Info box Content -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form action="#">
              <div class="form-body">
                <h5 class="card-title">About Category</h5>
                <hr />

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Category Name</label>
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        placeholder="Category Name"
                        name="catname"
                        [(ngModel)]="category.name"
                      />
                    </div>
                  </div>
                </div>
                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Category Description</label>
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        placeholder="Category Description"
                        name="description"
                        [(ngModel)]="category.description"
                      />
                    </div>
                  </div>
                </div>

                <hr />
              </div>
              <div class="form-group">
                <label class="check-container"
                  ><span class="check-head">Image Required</span>
                  <input
                    type="checkbox"
                    name="image_required"
                    [(ngModel)]="category.image_required"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="check-container"
                  ><span class="check-head">Mobile Required</span>
                  <input
                    type="checkbox"
                    name="mobile_required"
                    [(ngModel)]="category.mobile_required"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="check-container"
                  ><span class="check-head">Is Display</span>
                  <input
                    type="checkbox"
                    name="is_display"
                    [(ngModel)]="category.is_display"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="file" name="category-image" #catImage  (change)="changeImage(catImage.files,$event)">
                  </div>
                </div>
              </div>
              <div class="form-actions m-t-40">
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="saveCategory()"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="cancelCategory()"
                >
                  Cancel
                </button>
              </div>
            </form>
            <hr />
            <div class="form-body">
              <h5 class="card-title">Category</h5>
              <hr />
            </div>
            <div class="table-responsive">
              <table class="table product-overview" id="myTable">
                <thead>
                  <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>{{ category.category_id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                      <i class="material-icons" (click)="editCategory(category)"
                        >edit</i
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
              <nav aria-label="Page">
                <ul class="pagination justify-content-center">
                  <li
                    class="page-item"
                    *ngIf="currentPage != 1"
                    (click)="changePage(1)"
                  >
                    <a class="page-link">First</a>
                  </li>
                  <li
                    class="page-item"
                    *ngIf="currentPage != 1"
                    (click)="changePage(currentPage - 1)"
                  >
                    <a class="page-link"
                      ><i class="ion-md-skip-backward"></i
                    ></a>
                  </li>
                  <li
                    class="page-item"
                    [class.active]="pageno == currentPage"
                    (click)="changePage(pageno)"
                    *ngFor="let pageno of displayPages"
                  >
                    <a class="page-link">{{ pageno }}</a>
                  </li>
                  <li
                    class="page-item"
                    *ngIf="currentPage != lastPage"
                    (click)="changePage(currentPage + 1)"
                  >
                    <a class="page-link"><i class="ion-md-skip-forward"></i></a>
                  </li>
                  <li
                    class="page-item"
                    *ngIf="currentPage != lastPage"
                    (click)="changePage(lastPage)"
                  >
                    <a class="page-link">Last</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
