<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add Sub Category</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Caegory</li>
            <li class="breadcrumb-item active">Add Sub Category</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Info box Content -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form action="#">
              <div class="form-body">
                <h5 class="card-title">About Sub Category</h5>
                <hr />

                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Sub Category Name</label>
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        placeholder="Sub Category Name"
                        name="catname"
                        [(ngModel)]="category.name"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label"
                        >Sub Category Description</label
                      >
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        placeholder="Sub Category Description"
                        name="description"
                        [(ngModel)]="category.description"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="check-container"
                        ><span class="check-head">Is Display</span>
                        <input
                          type="checkbox"
                          name="is_display"
                          [(ngModel)]="category.is_display"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Category</label>
                      <select
                        class="form-control"
                        data-placeholder="Choose an Attribute"
                        tabindex="1"
                        name="category"
                        [(ngModel)]="category.parent_id"
                        (change)="changeCategory()"
                      >
                        <option
                          *ngFor="let category of categories"
                          [value]="category.category_id"
                          >{{ category.name }}</option
                        >
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="file"
                      name="category-image"
                      #catImage
                      (change)="changeImage(catImage.files, $event)"
                    />
                  </div>
                </div>
              </div>
              <div class="form-actions m-t-40">
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="saveCategory()"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="cancelCategory()"
                >
                  Cancel
                </button>
              </div>
            </form>
            <hr />
            <div class="form-body">
              <h5 class="card-title">Attribute's Values</h5>
              <hr />
            </div>
            <div class="table-responsive">
              <table class="table product-overview" id="myTable">
                <thead>
                  <tr>
                    <th>Category Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Parent Id</th>
                    <th>Upload Image</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sc of subCategories">
                    <td>{{ sc.category_id }}</td>
                    <td>{{ sc.name }}</td>
                    <td>{{ sc.description }}</td>
                    <td>{{ sc.parent_id }}</td>
                    <td>
                      <a routerLink="../image-upload/{{ sc.category_id }}"
                        >+ Add Image</a
                      >
                    </td>
                    <td>
                      <i class="material-icons" (click)="editCategory(sc)"
                        >edit</i
                      >
                      <!-- <i class="material-icons delete" (click)="deleteCategory(sc)">delete</i> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
