<div class="detail">
  <header>
    <h1>Invoice</h1>
    <address>
      <p class="billname">Prince Mobile</p>
      <p class="billname">GSTIN : 24BPPPS5808M2Z4</p>
      <p>
        Shopno-6, Momai Chamber, Labheshwar Chowk,<br />
        LH Road, Varachha, Surat.
      </p>
      <p>99986 13265</p>
    </address>
    <span
      ><img
        alt=""
        src="assets/MS_Square_white_512_512.png"
        height="25%"
        width="15%"
    /></span>
  </header>

  <article>
    <!-- <p>Some Company<br />c/o Some Guy</p> -->
    <address>
      <h4>Recipient</h4>
      <p class="billname">{{ order.first_name }} {{ order.last_name }}</p>
      <p>
        {{ order.flatno }}, {{ order.colony }},<br />{{ order.landmark }},
        {{ order.city }} <br />{{ order.state }}, {{ order.pincode }}
      </p>
      <p>{{ order.mobile }}</p>
    </address>
    <table class="meta">
      <tr>
        <th><span>Invoice No</span></th>
        <td>
          <span>{{ order.order_id }}</span>
        </td>
      </tr>
      <tr>
        <th><span>Date</span></th>
        <td>
          <span>{{ order.added_date | date: "dd/MM/yyyy" }}</span>
        </td>
      </tr>
      <tr>
        <th><span>Amount Due</span></th>
        <td>
          <span id="prefix">&#8377;</span
          ><span>{{ order.collectable_amount }}</span>
        </td>
      </tr>
    </table>

    <table class="inventory">
      <thead>
        <tr>
          <th><span>Item</span></th>
          <th><span>Description</span></th>
          <th><span>Rate</span></th>
          <th><span>Quantity</span></th>
          <th><span>Price</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderData of orderDetails">
          <td>
            <a class="cut">-</a><span>{{ orderData.name }}</span>
          </td>
          <td>
            <span>{{ orderData.model_name }} {{ orderData.attributes }}</span>
          </td>
          <td>
            <span data-prefix>&#8377;</span><span>{{ orderData.price }}</span>
          </td>
          <td>
            <span>{{ orderData.quantity }}</span>
          </td>
          <td>
            <span data-prefix>&#8377;</span><span>{{ orderData.total }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="balance">
      <tr>
        <th><span>CGST</span></th>
        <td>
          <span data-prefix>&#8377;</span><span>{{ order.gst / 2 }} </span>
        </td>
      </tr>
      <tr>
        <th><span>SGST</span></th>
        <td>
          <span data-prefix>&#8377;</span><span>{{ order.gst / 2 }} </span>
        </td>
      </tr>
      <tr>
        <th><span>Discount</span></th>
        <td>
          <span data-prefix>&#8377;</span><span>{{ order.discount }} </span>
        </td>
      </tr>
      <tr>
        <th><span>Total</span></th>
        <td>
          <span data-prefix>&#8377;</span
          ><span>{{ order.order_amount - order.discount }} </span>
        </td>
      </tr>
      <tr>
        <th><span>Amount Paid</span></th>
        <td>
          <span data-prefix>&#8377;</span
          ><span *ngIf="order.iscod == 1">0.00</span
          ><span *ngIf="order.iscod == 0">{{
            order.order_amount - order.discount
          }}</span>
        </td>
      </tr>
      <tr>
        <th><span>COD Charge</span></th>
        <td>
          <span data-prefix>&#8377;</span
          ><span *ngIf="order.iscod == 1">50.00</span
          ><span *ngIf="order.iscod == 0">0.00</span>
        </td>
      </tr>
      <tr>
        <th><span>Balance Due</span></th>
        <td>
          <span data-prefix>&#8377;</span
          ><span>{{ order.collectable_amount }}</span>
        </td>
      </tr>
    </table>
  </article>
  <aside>
    <!--aa tag remove karis to icon ni formate vikhai jase. so carefully remove this ta-->
    <div contenteditable></div>
  </aside>
</div>
