<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add Product</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Add Product</li>
                    </ol>
                    <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i><a href="a-category-add.html">Add Product</a> </button>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#">
                            <div class="form-body">
                                <h5 class="card-title">About Product</h5>
                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Product Id</label>
                                            <input type="text" id="firstName" readonly class="form-control" placeholder="Product-Id">
                                        
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Product Name</label>
                                            <input type="text" id="firstName"  class="form-control" placeholder="Product-Name" readonly>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      Upload Images of Products (Supported format :- .jpg, .jpeg, .png, .gif )
                                    </div>
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="image-container">
                                          <div class="card image-card">
                                            <div class="card-header">
                                              Main Image
                                            </div>
                                            <div class="card-body">
                                              <form enctype="multipart/form-data">
                                                <div class="image">
                                                    <img [src]="images[0]" alt="Add-image" width="100%" height="100%"> 
                                                </div>
                                                
                                                <input class="custome-file-input" #file1 type="file" id="file" accept=".png, .jpg ,.jpeg ,.gif" (change)="changeImage(file1.files,0,$event)">
                                                <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file1.files,0)" [disabled]="uploadLabel[0]==='Image Uploaded'">{{uploadLabel[0]}}</button>
                                              </form>
                                              
                                  
                                            </div>
                                          </div>
                                        </div>
                                        <div class="image-container">
                                          <div class="card image-card">
                                            <div class="card-header">
                                              Image 1
                                            </div>
                                            <div class="card-body">
                                              <form enctype="multipart/form-data">
                                                <div class="image">
                                                    <img [src]="images[1]" alt="Add-image" width="100%" height="100%"> 
                                                </div>
                                                
                                                <input #file2 type="file" id="file" (change)="changeImage(file2.files,1,$event)">
                                                <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file2.files,1)" [disabled]="uploadLabel[1]==='Image Uploaded'">{{uploadLabel[1]}}</button>
                                
                                              </form>
                                              
                                  
                                            </div>
                                          </div>
                                        </div>
                                        <div class="image-container">
                                          <div class="card image-card">
                                            <div class="card-header">
                                              Image 2
                                            </div>
                                            <div class="card-body">
                                              <form enctype="multipart/form-data">
                                                <div class="image">
                                                    <img [src]="images[2]" alt="Add-image" width="100%" height="100%"> 
                                                </div>
                                                
                                                <input #file3 type="file" id="file" (change)="changeImage(file3.files,2,$event)">
                                                <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file3.files,2)" [disabled]="uploadLabel[2]==='Image Uploaded'">{{uploadLabel[2]}}</button>
                                
                                              </form>
                                              
                                  
                                            </div>
                                          </div>
                                        </div>
                                        <div class="image-container">
                                            <div class="card image-card">
                                              <div class="card-header">
                                                Image 3
                                              </div>
                                              <div class="card-body">
                                                <form enctype="multipart/form-data">
                                                  <div class="image">
                                                      <img [src]="images[3]" alt="Add-image" width="100%" height="100%" >
                                                  </div>
                                                  
                                                  <input #file4 type="file" id="file" (change)="changeImage(file4.files,3,$event)">
                                                  <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file4.files,3)" [disabled]="uploadLabel[3]==='Image Uploaded'">{{uploadLabel[3]}}</button>
                                
                                                </form>
                                                
                                    
                                              </div>
                                            </div>
                                          </div>
                                        <div class="image-container">
                                          <div class="card image-card">
                                            <div class="card-header">
                                              Image 4
                                            </div>
                                            <div class="card-body">
                                              <form enctype="multipart/form-data">
                                                <div class="image">
                                                    <img [src]="images[4]" alt="Add-image" width="100%" height="100%"> 
                                                </div>
                                
                                                <input #file5 type="file" id="file" (change)="changeImage(file5.files,4,$event)">
                                                <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file5.files,4)"  [disabled]="uploadLabel[4]==='Image Uploaded'">{{uploadLabel[4]}}</button>
                                
                                              </form>
                                
                                
                                            </div>
                                          </div>
                                        </div>
                                        <div class="image-container">
                                          <div class="card image-card">
                                            <div class="card-header">
                                              Image 5
                                            </div>
                                            <div class="card-body">
                                              <form enctype="multipart/form-data">
                                                <div class="image">
                                                    <img [src]="images[5]" alt="Add-image" width="100%" height="100%"> 
                                                </div>
                                                
                                                <input #file6 type="file" id="file" (change)="changeImage(file6.files,5,$event)">
                                                <button class="btn btn-outline-success" style="margin-top:10px;width:100%;" (click)="uploadImage(file6.files,5)" [disabled]="uploadLabel[5]==='Image Uploaded'">{{uploadLabel[5]}}</button>
                                
                                              </form>
                                              
                                  
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                

                            </div>
                            
                        </form>

                    </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

    </div>
