<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Manage Specification</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Manage Specifications</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="form-body">
              <h5 class="card-title">Specification</h5>
              <a class="link" routerLink="../add-specification/0"
                >+ Add Specification</a
              >
            </div>
            <div class="table-responsive">
              <table class="table product-overview" id="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let specification of specifications">
                    <td>{{ specification.specification_id }}</td>
                    <td>{{ specification.specification_key }}</td>
                    <td>{{ specification.specification_value }}</td>
                    <td>
                      <a
                        routerLink="../add-specification/{{
                          specification.specification_id
                        }}"
                      >
                        <i class="material-icons">edit</i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
