<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add Specification</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Add Specifications</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Specification</h5>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="label">Specification Key</label>
                  <input class="form-control" [(ngModel)]="specification.key" />
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="label">Specification Value</label>
                  <input
                    class="form-control"
                    [(ngModel)]="specification.value"
                  />
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" (click)="saveSpecification()">
                  Save Specification
                </button>
                <button class="btn btn-danger" (click)="cancelSpecification()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
