<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add Product</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active">Add Product</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Info box Content -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form action="#">
              <div class="form-body">
                <h5 class="card-title">About Product</h5>
                <hr />
                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Category</label>
                      <select
                        class="form-control"
                        name="category"
                        (change)="getSubCategories()"
                        [(ngModel)]="product.category_id"
                        data-placeholder="Choose a Category"
                        tabindex="1"
                      >
                        <option
                          *ngFor="let category of categories"
                          [value]="category.category_id"
                          >{{ category.name }}</option
                        >
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Sub-Category</label>
                      <select
                        class="form-control"
                        name="subCategory"
                        [(ngModel)]="product.subcategory_id"
                        data-placeholder="Choose a Category"
                        tabindex="1"
                      >
                        <option
                          value="Category 1"
                          *ngFor="let subCategory of subcategories"
                          [value]="subCategory.id"
                          >{{ subCategory.name }}</option
                        >
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                </div>

                <div class="row">
                  <div class="col-md-12 ">
                    <div class="form-group">
                      <label class="card-title m-t-40"
                        >Product Description</label
                      >
                      <textarea
                        name="Description"
                        [(ngModel)]="product.description"
                        class="form-control"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="card-title m-t-40">Total Weight</label>
                      <input type="number" class="form-control" name="total-weight" [(ngModel)]="product.total_weight">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="card-title m-t-40">Dimention Length</label>
                      <input type="number" class="form-control" name="dm_length" [(ngModel)]="product.dimention_length">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="card-title m-t-40">Dimention Breadth</label>
                      <input type="number" class="form-control" name="dm_breadth" [(ngModel)]="product.dimention_breadth">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="card-title m-t-40">Dimention Height</label>
                      <input type="number" class="form-control" name="dm_height" [(ngModel)]="product.dimention_height">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="card-title m-t-40">HSN Code</label>
                      <input type="number" class="form-control" name="hsncode" [(ngModel)]="product.hsncode">
                    </div>
                  </div>
                </div>
                <!--/row-->
                <div class="row">
                  <div class="col-lg-6 bt-switch m-b-30">
                    <div class="form-group">
                      <label class="control-label">Display-Status</label>
                      <br />
                      <input
                        type="checkbox"
                        name="isDisplay"
                        [(ngModel)]="product.is_display"
                      />
                    </div>
                  </div>
                 
                </div>
                
              </div>

              <div class="form-actions m-t-40">
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="addProduct()"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="cancelProduct()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
