<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Finished Quantity</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active">Finished Quantity</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Finished Quantity</h5>
            <hr />
            <table class="table product-overview" id="myTable">
              <thead>
                <tr>
                  <th>Product Id</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Image</th>
                  <th>Quantity</th>
                  <th>Increase Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let variant of variants">
                  <td>{{ variant.variant_id }}</td>
                  <td>{{ variant.name }}</td>
                  <td>{{ variant.model_name }}</td>
                  <td>
                    <img
                      src="{{ imageBaseUrl }}{{ variant.thumbnail }}"
                      width="50"
                      height="50"
                    />
                  </td>
                  <td>
                    <span *ngIf="variant.quantity != -1">{{
                      variant.quantity
                    }}</span>
                  </td>
                  <td>
                    <a routerLink="../add-variant/{{ variant.product_id }}"
                      >+ Increase Quantity</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
