<section id="wrapper">
  <div
    class="login-register"
    style="background-image:url(assets/images/login-register.jpg);"
  >
    <div class="login-box card">
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          #form="ngForm"
        >
          <h3 class="text-center m-b-20">Sign In</h3>
          <div class="form-group ">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                required
                name="email"
                placeholder="Username"
                [(ngModel)]="user.email"
                #email="ngModel"
                pattern=".+@.+\..+"
              />
              <ng-container *ngIf="email.invalid && email.touched">
                <p class="text-danger" *ngIf="email.errors?.required">
                  Email is required!
                </p>
                <p class="text-danger" *ngIf="email.errors?.pattern">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                required
                name="password"
                placeholder="Password"
                [(ngModel)]="user.password"
                #password="ngModel"
              />
              <ng-container *ngIf="password.invalid && password.touched">
                <p class="text-danger" *ngIf="password.errors?.required">
                  Password is required!
                </p>
                <p
                  class="text-danger"
                  *ngIf="
                    password.errors?.minlength || password.errors?.maxlength
                  "
                >
                  Password should contains minimum 4 characters
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="d-flex no-block align-items-center">
                <div class="ml-auto">
                  <a
                    href="javascript:void(0)"
                    id="to-recover"
                    class="text-muted"
                    ><i class="material-icons">lock</i> Forgot password?</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button
                class="btn btn-block btn-lg btn-info btn-rounded"
                type="submit"
                (click)="loginAdmin()"
              >
                Log In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
