.check {
  margin-right: 10px;
}
i {
  cursor: pointer;
}
.delete {
  color: red;
  margin-left: 15px;
}
.form-control {
  margin-bottom: 10px;
}
.save,
.cancel {
  margin-top: 10px;
}
.delete {
  color: #ea4335 !important;
}
.mobile-table {
  height: 300px;
  overflow-y: scroll;
}
.mobile-header {
  position: sticky;
}
