<div class="page-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Add Product Variant</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a></li>
                        <li class="breadcrumb-item active">Add Product Variant</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Info box Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="form-body">
                                <h5 class="card-title">About Product Variant</h5>
                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Product Id</label>
                                            <input type="text" name="firstName" [(ngModel)]="variant.product_id" readonly class="form-control" placeholder="Product-Id">
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Product Name</label>
                                            <input type="text" name="product_name" [(ngModel)]="variant.name" class="form-control" placeholder="Product-Name">
                                        
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->

                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Product Price</label>
                                                    <input type="number" name="price" [(ngModel)]="variant.price" class="form-control" placeholder="Product-Price">                                                
                                                </div>
                                            </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Product Discount</label>
                                            <input type="number" name="discount" [(ngModel)]="variant.discount" class="form-control" placeholder="Discount">                                                
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--/row-->

                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Product Quantity</label>
                                                    <input type="number" name="quantity" [(ngModel)]="variant.quantity" class="form-control" placeholder="Quantity">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Color</label>
                                                        <select class="form-control" name="colors" [(ngModel)]="variant.color_id" data-placeholder="Choose a Color" tabindex="1">
                                                           <option *ngFor="let color of colors" [value]="color.id">{{color.value}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" class="check" name="parent" [(ngModel)]="variant.parent">
                                            <label class="control-label">Parent</label>
                                        </div>
                                    </div>

                                   <div class="col-md-6">
                                        <div class="form-group">
                                            <input  type="checkbox" class="check" name="image" [(ngModel)]="variant.image_required">  
                                            <label class="control-label">Image Required</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Brand</label>
                                            <select class="form-control" name="brands" [(ngModel)]="variant.brand_id" data-placeholder="Choose a Brand" tabindex="1">
                                               <option *ngFor="let brand of brands" [value]="brand.id">{{brand.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>


                            </div>



                            <div class="form-actions m-t-40">
                              <button type="submit" class="btn btn-success" (click)="saveVariant()"> Save</button>
                                <button type="button" class="btn btn-dark">Cancel</button>
                            
                            </div>
                        </form>
                        <hr>
                        <hr>
                            <div class="form-body">
                                <h5 class="card-title">Product</h5>
                                
                            </div>
                        <div class="table-responsive">
                            <table class="table product-overview" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Variant Id</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Discount</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                        <th>Add Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let variant of variants">
                                        <td>{{variant.variant_id}}</td>
                                        <td>{{variant.name}}</td>
                                        <td>{{variant.price}}</td>
                                        <td>{{variant.discount}}</td>
                                        <td>{{variant.quantity}}</td>
                                        <td><i class="material-icons" (click)="editVariant(variant)">edit</i></td>
                                        <td>
                                            <a routerLink="../../add-image/{{variant.variant_id}}">+ Add Image</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

    </div>
